/*pseoudo class link : link,hover(kursor mouse diatas link),active(link diklik),visited(link pernah dikunjungi
posisi elemen : first-child(elemen 1 dari parent),last-child(elemen terakhir),nth-vhild(-n)(even=genap,oddd=ganjil)
first-of-type,last-of-type*/
.hello:link{
	color: orange;
}

.hello:hover{
	color: green;
	font-family: arial;
	font-size: 30px;
}

.hello:active{
	color: red;
	font-style: italic;
}

.hello:visited{
	color: skyblue;
}

li:nth-child(2n+1) a{
	color: yellow;
}

p:first-of-type{
	color: black;
}

p:last-of-type{
	font-family: helvetica;
	color: purple;
}